asgiref==3.8.1
Django==5.1.7
django-admin-interface==0.29.4
django-cleanup==9.0.0
django-colorfield==0.12.0
django-grappelli==4.0.1
django-jet-reboot==1.3.10
django-material-admin==1.8.6
django-suit @ git+https://github.com/darklow/django-suit.git@e70f3bb2a54230b12089d8cf9cfff7906acabb25
pillow==11.1.0
python-slugify==8.0.4
sqlparse==0.5.3
text-unidecode==1.3
tzdata==2025.2
