{% load static %} {% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/shop.css'%}"/>
    <script src="{% static 'js/animations.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
          <a href="/" class="navbar-brand">OMOTAYO</a>
  
          <!-- Hamburger Button -->
          <button class="hamburger" id="hamburger">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </button>
  
          <!-- Navigation Menu -->
          <ul class="nav-menu" id="nav-menu">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/product" class="nav-link">Products</a></li>

            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </nav>

      <section class="container">
        {% for perfume in all_perfumes %}
        <div class="perfume-card" data-aos="zoom-in">
          <img src="{{ perfume.image.url }}" alt="{{ perfume.name }}" />
          <h3>{{ perfume.name }}</h3>
          <p>₦{{ perfume.price }}</p>
          <p>{{ perfume.description }}</p>
          <button class="order-btn">
            <a
              class="btn"
              href="https://wa.me/2347036320621?text=Hello!%20I%20would%20like%20to%20order%20the%20perfume:%20{{ perfume.name }}.%0AHere%20is%20the%20image:%20{% absolute_url request perfume.image.url %}"
              target="_blank"
            >
              Order via WhatsApp
            </a>
          </button>
        </div>
        {% endfor %}
      </section>


      <footer class="footer">
        <div class="footer-container">
          <div class="footer-brand">
            <h3>Omotayo Scent & Accessories</h3>
            <p>Luxury. Elegance. Identity.</p>
          </div>
      
          <div class="footer-links">
            <a href="/">Home</a>
            <a href="/product">Products</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
          </div>
      
          <div class="footer-contact">

            <p>Phone: +2347036320621</p>
          </div>
        </div>
      
        <div class="footer-bottom">
          <p>&copy; 2025 Omotayo Scent & Accessories. All Rights Reserved.</p>
        </div>
      </footer>
  
    
</body>
</html>